.titleCSS
{
  font-family: 'calibri';
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.roundedInput {
  --border-color: white;
  --border-radius: 7px;
  --border-width: 1px;
  --box-shadow: 2px gray;
  --highlight-height: 0;
  color: #ffffff;
 }
